<h2>Edit <%= @troll.name %> </h2>

<form method="post" action="/trolls/<%= @troll.id %>">

  <label for="name">Full name:</label>
  <input type="text" name="name" id="name" value="<%= @troll.name %>">

  <label for="breed">Breed:</label>
  <input name="breed" id="breed" value="<%= @troll.breed %>"</input>

  <label for="admission-date">Admission date:</label>
  <input name="admission_date" id="admission-date" value="<%= @troll.admission_date %>"</input>

  <label for="adoptable">Adoptable:</label>
  <select name="adoptable" id="adoptable">
    <% if @troll.adoptable == 't' %>Yes <% else %>No<% end %>
  </select>

  <label for="owner_select">Select Owner:</label>
  <select name="owner_id" id="owner_select">
    <option value="">No Owner</option>
    <% @owners.each do |owner| %>

      <% if owner.id.to_i == @troll.owner_id.to_i %>

        <option value=<%= owner.id %> selected><%= owner.name %></option>
      <% else %>
        <option value=<%= owner.id %>><%= owner.name %></option>
      <% end %>
    <% end %>
  </select>

  <input type="submit" value="Update"/>

<% if false%>  <h2>Edit <%= @student.format_name %></h2>
  <form method="POST" action="/students/<%= @student.id %>">
    <div class="form-wrapper">

      <div class="form-el">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="<%= @student.first_name %>"/>
      </div>

      <div class="form-el">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="<%= @student.last_name%>"/>
      </div>

      <div class="form-el">
        <label for="house_select">Select House:</label>
        <select name="house_id" id="house_select" selected="<%= @student.house_id  %>">
          <% @houses.each do |house| %>
            <% if house.id == @student.house_id %>
              <option value=<%= house.id %> selected><%= house.name.capitalize %></option>
            <% else %>
              <option value=<%= house.id %>><%= house.name.capitalize %></option>
            <% end %>
          <% end %>
        </select>
      </div>

      <div class="form-el">
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" value="<%= @student.age %>"/>
      </div>

      <div class="form-el">
        <input type="submit" value="Enrol Student"/>
      </div>

    </div>
  </form>
<% end %>
</form>
