<h2>Internet Troll: <%= @troll.name%></h2>

<p>Name: <%= @troll.name %></p>
<p>Breed: <%= @troll.breed %></p>
<p>Adoptable? <% if @troll.adoptable == 't' %>Yes <% else %>No<% end %></p>
<p>Resident since: <%= @troll.admission_date %></p>

<a href="/trolls/<%= @troll.id %>/edit">Edit</a>
<form action="/trolls/<%= @troll.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
